body {
    background-color: #85c3b5;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Class selector */
.subtitle {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

/* Advanced selector */
nav a:hover {
    color: yellow;
}

/* Display property */
nav a {
    display: inline-block;
    margin: 10px;
}

/* Box model rule */
.card {
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Text styling */
em {
    font-style: normal;
    color: #ff00d4;
}